<h1>Editing dog</h1>

<%= render 'form' %>

<%= link_to 'Show', @dog %> |
<p>
<%= link_to 'Back', dogs_path %>
</p>

<p>
<%= link_to '削除する', @dog, method: :delete, data: { confirm: '本当に削除しますか?' },class:"btn red darken-2"%>
</p>